
:root {
    /* custom stuff can go like --main-bg-color: #141414
    and then later I can just use --main-bg-color as a variable*/
}

html, body {
    height: 100%;
    text-align: center;
}

/* body {
    overflow:hidden;
} */

h1, h2, p {
    margin: 0;
}

main {
    background-color: deepskyblue;
    height: 66%;
    width: 100%;
}

#character-selection {
    display: flex;
    justify-content: center;
}


#controller {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 42% 42% 1em;
    background-color: tomato;
    height: 34%;
    width: 100%;
}

.control {
    background-color: sandybrown;
}

#control__flail {
    grid-area: 1/1/2/2;
}

#control__eyes {
    grid-area: 2/1/3/2;
}

#control__run {
    grid-area: 1/2/3/3;
}

#control__yell {
    grid-area: 1/3/2/4;
}

#control__cry {
    grid-area: 2/3/3/4;
}

#control__footer {
    grid-area: 3/1/4/4;
}


/* CHARACTER BITS */

/* using sass to automate background-image names*/
$character-prefixes: "man", "woman";
$body-part-suffixes: "torso-front", "torso-back", "head", "eyes", "mouth", "bicep", "forearm-back", "forearm-front", "thigh", "shin", "foot";

@each $prefix in $character-prefixes {
    .#{$prefix} {
        @each $suffix in $body-part-suffixes {
            .#{$suffix} {
                background-image: $prefix + "-" + $suffix + ".png";
            }
        }
    }
}