:root {
  /* custom stuff can go like --main-bg-color: #141414
  and then later I can just use --main-bg-color as a variable*/
}

html, body {
  height: 100%;
  text-align: center;
}

/* body {
    overflow:hidden;
} */
h1, h2, p {
  margin: 0;
}

main {
  position: relative;
  background-color: transparent;
  height: 100%;
  width: 100%;
}

/* BACKGROUND BITS */
#action {
  position: relative;
  height: 66%;
}
#action > * {
  position: absolute;
  width: 100%;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: repeat-x;
  background-size: cover;
  background-position: 0px 0px;
  bottom: 0;
}

#bg__layer0 {
  background-image: url(img/bg/bg-scratches.png);
}

#bg__layer1 {
  background-image: url(img/bg/bg-trees-2.png);
}

#bg__layer2 {
  background-image: url(img/bg/bg-trees-1.png);
}

#bg__layer3 {
  background-image: url(img/bg/bg-grass.png);
  height: 20%;
}

.paper-texture {
  background-image: url(img/bg/paper-texture.png);
}

/* FOREGROUND BITS */
#top-words {
  top: 5%;
}

#char-select-menu {
  display: flex;
  justify-content: center;
  bottom: 3%;
}

/* CHARACTER BITS */
#character * {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* using sass to automate background-image names*/
.man.torso-front {
  background-image: url(img/man/man-torso-front.png);
  background-size: 100%;
}
.man.torso-back {
  background-image: url(img/man/man-torso-back.png);
  background-size: 100%;
}
.man.head {
  background-image: url(img/man/man-head.png);
  background-size: 100%;
}
.man.eyes {
  background-image: url(img/man/man-eyes.png);
  background-size: 100%;
}
.man.mouth {
  background-image: url(img/man/man-mouth.png);
  background-size: 100%;
}
.man.bicep {
  background-image: url(img/man/man-bicep.png);
  background-size: 100%;
}
.man.forearm-back {
  background-image: url(img/man/man-forearm-back.png);
  background-size: 100%;
}
.man.forearm-front {
  background-image: url(img/man/man-forearm-front.png);
  background-size: 100%;
}
.man.thigh {
  background-image: url(img/man/man-thigh.png);
  background-size: 100%;
}
.man.shin {
  background-image: url(img/man/man-shin.png);
  background-size: 100%;
}
.man.foot {
  background-image: url(img/man/man-foot.png);
  background-size: 100%;
}

.woman.torso-front {
  background-image: url(img/woman/woman-torso-front.png);
  background-size: 100%;
}
.woman.torso-back {
  background-image: url(img/woman/woman-torso-back.png);
  background-size: 100%;
}
.woman.head {
  background-image: url(img/woman/woman-head.png);
  background-size: 100%;
}
.woman.eyes {
  background-image: url(img/woman/woman-eyes.png);
  background-size: 100%;
}
.woman.mouth {
  background-image: url(img/woman/woman-mouth.png);
  background-size: 100%;
}
.woman.bicep {
  background-image: url(img/woman/woman-bicep.png);
  background-size: 100%;
}
.woman.forearm-back {
  background-image: url(img/woman/woman-forearm-back.png);
  background-size: 100%;
}
.woman.forearm-front {
  background-image: url(img/woman/woman-forearm-front.png);
  background-size: 100%;
}
.woman.thigh {
  background-image: url(img/woman/woman-thigh.png);
  background-size: 100%;
}
.woman.shin {
  background-image: url(img/woman/woman-shin.png);
  background-size: 100%;
}
.woman.foot {
  background-image: url(img/woman/woman-foot.png);
  background-size: 100%;
}

#skeleton, #character {
  height: 500px;
  width: 500px;
  bottom: 0%;
  margin-left: 50%;
  left: -250px;
}

#skeleton * {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px red solid;
}

#skeleton__torso {
  width: 35%;
  height: 35%;
  bottom: 35%;
  left: 32.5%;
}
#skeleton__head {
  height: 61.5%;
  width: 80%;
  bottom: 80%;
  left: 12%;
}
#skeleton__eyes {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
#skeleton__bicep-right {
  width: 45%;
  height: 53.8%;
  top: 10.5%;
  left: 20%;
  transform-origin: 50% 20%;
}
#skeleton__forearm-right {
  width: 100%;
  height: 100%;
  top: 65%;
  right: 3%;
  transform-origin: 50% 18%;
}
#skeleton__bicep-left {
  width: 45%;
  height: 53.8%;
  top: 10.5%;
  left: 38%;
  transform-origin: 50% 20%;
}
#skeleton__forearm-left {
  width: 100%;
  height: 100%;
  top: 65%;
  right: 3%;
  transform-origin: 50% 18%;
}
#skeleton__thigh-right {
  width: 45%;
  height: 69.2%;
  top: 50%;
  left: 23%;
  transform-origin: 55% 20%;
}
#skeleton__shin-right {
  width: 100%;
  height: 100%;
  right: 0.1%;
  top: 68%;
  transform-origin: 53% 21%;
}
#skeleton__foot-right {
  width: 70%;
  height: 30%;
  top: 58%;
  left: 28%;
  transform-origin: 30% 50%;
}
#skeleton__thigh-left {
  width: 45%;
  height: 69.2%;
  top: 50%;
  left: 29%;
  transform-origin: 55% 20%;
}
#skeleton__shin-left {
  width: 100%;
  height: 100%;
  right: 0.1%;
  top: 68%;
  transform-origin: 53% 21%;
}
#skeleton__foot-left {
  width: 70%;
  height: 30%;
  top: 58%;
  left: 28%;
  transform-origin: 30% 50%;
}

.graphic {
  position: absolute;
}

/* BUTTONS AND CONTROLS */
#controller {
  position: relative;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 42% 42% 1em;
  background-image: url("img/controls/woodtexture.gif");
  background-size: 40rem;
  height: calc(34% - 40px);
  border: 20px solid;
  border-image: url("img/controls/brassborder.png") 65 repeat;
}
#controller .control {
  height: 100%;
  background-color: transparent;
  border: none;
}
#controller .smallbutton {
  background-size: cover;
}
#controller #control__flail {
  grid-area: 1/1/2/2;
  background-image: url("img/controls/button-flail.png");
}
#controller #control__eyes {
  grid-area: 2/1/3/2;
}
#controller #control__run {
  grid-area: 1/2/3/3;
}
#controller #control__cry {
  grid-area: 2/3/3/4;
}
#controller #control__centerdiv {
  grid-area: 1/2/3/3;
}
#controller #control__plaque {
  width: 100%;
  height: 30%;
}
#controller #control__run {
  width: 100%;
  height: 70%;
}
#controller #control__footer {
  grid-area: 3/1/4/4;
}

/*# sourceMappingURL=styles.css.map */
