
:root {
    /* custom stuff can go like --main-bg-color: #141414
    and then later I can just use --main-bg-color as a variable*/
}

html, body {
    height: 100%;
    text-align: center;
    background-color:black;
}

/* body {
    overflow:hidden;
} */

h1, h2, p {
    margin: 0;
}

main {
    position:relative;
    background-color: transparent;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/* PRELOADER */

#preloader {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 100000;
}

/* BACKGROUND BITS */

#action {
    position: relative;
    height:66%;

    background-image: url(img/bg/bgwatercolor.jpg);
    background-size: cover;
    // overflow: hidden;

    &>* {
        position: absolute;
        width:100%
    }
}

    .bg {
        position: absolute;
        height: 100%;
        width: 100%;
        // width: inherit;
        background-repeat: repeat-x;
        background-size: cover;
        background-position: 0px 0px;
        bottom:0;
    }

    #bg__layer0 {
        background-image: url(img/bg/bg-scratches.png);
    }
    
    #bg__layer1 {
        background-image: url(img/bg/bg-trees-2.png);
    }
    
    #bg__layer2 {
        background-image: url(img/bg/bg-trees-1.png);
    }
    
    #bg__layer3 {
        background-image: url(img/bg/bg-grass.png);
        height:20%;
    }

    .paper-texture {
        background-image: url(img/bg/paper-texture.png);
    }




/* FOREGROUND BITS */

    #top-words {
        top: 5%;
    }

    #char-select-menu {
        display: flex;
        justify-content: center;
        bottom: 3%;
    }


/* CHARACTER BITS */

/* using sass to automate background-image names*/
$character-prefixes: "man", "woman";
$body-part-suffixes: "torso-front", "torso-back", "head", "eyes", "mouth", "mouth-big", "bicep", "forearm-right", "forearm-left", "thigh", "shin", "foot";

@each $prefix in $character-prefixes {
    .#{$prefix} {
        @each $suffix in $body-part-suffixes {
            &.#{$suffix} {
                background-image: url(img/#{$prefix}/#{$prefix} + "-" + $suffix + ".png");
                background-size: 100%;
            }
        }
    }
}

// Default heights/widths, in percentages based on image-size, 
// to keep everything positioned where it should be regardless 
// of screen-size

#character { 
    //change these values at cutoff points to support different devices
    height:500px;
    width:500px;
    bottom:0%;
    margin-left:50%;
    left:-250px;
}


#character * {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    // border: 1px red solid;
}

.image {
    width:100%;
    height:100%;
}

.bone {

    &.torso {
        width:35%;
        height:35%;
        bottom:32%;
        left:32.5%;
    }

    &.head {
        height:61.5%;
        width:80%;
        bottom:80%;
        left: 12%;
        transform-origin: 55% 80%;
    }

    &.eyes, &.mouth {
        height:100%;
        width:100%;
        left:0;
        top:0;
    }

    &.bicep-right {
        width: 45%;
        height: 53.8%;
        top:10.5%;
        left:20%;
        transform-origin: 50% 20%;
        z-index: 1000;
    }

    &.forearm-right {
        width: 100%;
        height: 100%;
        top:65%;
        right:3%;
        transform-origin: 50% 18%;
    }

    &.bicep-left {
        width: 45%;
        height: 53.8%;
        top:10.5%;
        left:38%;
        transform-origin: 50% 20%;
        z-index: -1000;
    }

    &.forearm-left {
        width: 100%;
        height: 100%;
        top:65%;
        right:3%;
        transform-origin: 50% 18%;
    }

    &.thigh-right {
        width: 45%;
        height: 69.2%;
        top:50%;
        left:23%;
        transform-origin: 55% 20%;
    }

    &.shin-right {
        width: 100%;
        height: 100%;
        right:.1%;
        top:68%;
        transform-origin: 53% 21%;
    }

    &.foot-right {
        width: 70%;
        height: 30%;
        top:58%;
        left:28%;
        transform-origin: 30% 50%;
    }

    &.thigh-left {
        width: 45%;
        height: 69.2%;
        top:50%;
        left:29%;
        transform-origin: 55% 20%;
    }

    &.shin-left {
        width: 100%;
        height: 100%;
        right:.1%;
        top:68%;
        transform-origin: 53% 21%;
    }

    &.foot-left {
        width: 70%;
        height: 30%;
        top:58%;
        left:28%;
        transform-origin: 30% 50%;
    }

}

/* BUTTONS AND CONTROLS */


#controller {
    position: relative;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 42% 42% 1em;
    background-image: url("img/controls/woodtexture.gif");
    background-size: 40rem;
    height: calc(34% - 40px);
    border: 20px solid;
    border-image: url("img/controls/brassborder.png") 65 repeat;

    .control {
        height: 100%;
        background-color: transparent;
        border:none;
    }

    .smallbutton {
        background-size: 400%;
        height:100px;
        width:88px;
        // height:100%;
        // width:100%;
    }

    #control__centerdiv {
        grid-area: 1/2/3/3;
        height:200px;
        width:160px;

    }

    #control__flail {
        grid-area: 1/1/span 1/span 1;
        background-image: url("img/controls/buttons.png");
        background-position: 100% 0%;
    }

    #control__eyes {
        grid-area: 2/1/span 1/span 1;
        background-image: url("img/controls/buttons.png");
        background-position: 1% 34%;
    }

    #control__yell {
        grid-area: 1/3/span 1/span 1;
        background-image: url("img/controls/buttons.png");
        background-position: 1% 0%;
    }

    #control__cry {
        grid-area: 2/3/span 1/span 1;
        background-image: url("img/controls/buttons.png");
        background-position: 100% 34%;
    }

    #control__plaque {
        width:100%;
        height:33%;
        background-image: url("img/controls/buttons.png");
        background-size: 200%;
        background-position: 50% 0%;
    }

    #control__run {
        width:100%;
        height:60%;
        background-image: url("img/controls/buttons.png");
        background-size: 200%;
        background-position: 50% 25%;
    }

    #control__footer {
        grid-area: 3/1/4/4;
    }

}